body {
  font-family: Sans-Serif;
  background-color: black;
  color: white;
  /*display: grid;*/
}
.container {
	/*margin: auto;*/
}
.rizist-gif{
	max-width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}